section.home__picks
  .home__picks-c-l._flex-c-es
    a(href="/read/{{ .editorsPickR.StoryID }}").home__picks-c-l__cover-frame
      img.home__picks-c-l__cover-img(
        src="{{ .editorsPickR.CoverImgURL }}"
      )
    a(href="/read/{{ .editorsPickR.StoryID }}").home__picks-c-l__content
      .home__picks-c-l__header #{ .editorsPickR.Header }
      .home__picks-c-l__body #{ grindBody (.editorsPickR.Body) 200 }
    .home__picks-c-l__info
      .home__picks-c-l__author-name #{ .editorsPickR.AuthorUsername }
      .home__picks-c-l__detail
        span #{ getStoryDate .editorsPickR.CreatedAt }
        span #{ .editorsPickR.ReadTime }
  .home__picks-c-c._flex-c-sb
    for _,_ in .editorsPickC
       .home__picks-c-c__stack._flex-cs
        a(href="/read/{{ .StoryID }}").home__picks-c-c__cover-frame
          img.home__picks-c-c__cover-img(
          src="{{ .CoverImgURL }}"
        )
        .home__picks-c-c__content._flex-c-sb
          a(href="/read/{{ .StoryID }}").home__picks-c-c__header #{ .Header }
          a(href="/read/{{ .StoryID }}").home__picks-c-c__body #{ grindBody .Body 40 }
          .home__picks-c-c__author-name #{ .AuthorUsername }
          .home__picks-c-c__detail
            span #{ getStoryDate .CreatedAt }
            span #{ .ReadTime }
  .home__picks-c-r
    a(href="/read/{{ .editorsPickL.StoryID }}").home__picks-c-r__cover-frame
      img.home__picks-c-r__cover-img(
        src="{{ .editorsPickL.CoverImgURL }}"
      )
    .home__picks-c-r__content
      a(href="/read/{{ .editorsPickL.StoryID }}").home__picks-c-r__header #{ .editorsPickL.Header }
      a(href="/read/{{ .editorsPickL.StoryID }}").home__picks-c-r__body #{ grindBody .editorsPickL.Body 100 }
      .home__picks-c-r__author-name #{ .editorsPickL.AuthorUsername }
      .home__picks-c-r__detail 
        span #{ getStoryDate .editorsPickL.CreatedAt }
        span #{ .editorsPickL.ReadTime }
.home__divider
section.home__articles
  ul.home__mainList
   for _,_ in .output
     include views/partials/storyCard.pug
  ul.home__popularList
    li.home__popularList-item
