#editor-readOnly__header
#editor-readOnly__authorArea.editor-readOnly__authorArea._flex-cs
  .editor-readOnly__authorArea__avatar._relative
    .editor-readOnly__authorArea__avatar-frame._avatar-frame
      img.editor-readOnly__authorArea__avatar-img._avatar-img(
        src="{{ .author.AvatarURL }}"
      )
  .editor-readOnly__authorArea__name 
    a(href="/user-home/{{ .author.ID }}") {{  .author.Username  }}
  .editor-readOnly__authorArea__postDate #{getStoryDate .story.CreatedAt}
  .editor-readOnly__authorArea__readTime
  if .currentUser.IsEditor 
    if .story.EditorsPick
      button.editor-readOnly__unpick Unpick 
    else
      button.editor-readOnly__pick Pick
  if .userId
    if isMyStory .author.ID .userId
      a(href="/edit-story/{{ .story.ID }}")
        button.editor-readOnly__authorArea__edit Edit
      button.editor-readOnly__authorArea__delete Delete
#editor-readOnly__body
#fixed-authorInfo.fixed-authorInfo
  header(id="{{ .author.ID }}")._flex-c-se
    .fixed-authorInfo__writtenBy 
      span WRITTEN BY
    .fixed-authorInfo__authour 
      a(href="/user-home/{{ .author.ID }}") #{.author.Username}
    .fixed-authorInfo__bio 
      span #{.author.Bio}
    .fixed-authorInfo__followerCount
      a(href="/followers/{{ .author.ID }}") #{ getSliceLen .author.FollowerIDs } Followers
    if .userId  
      if isMyStory .author.ID .userId
      else
        if .isFollowing
          button.fixed-authorInfo__following-btn Following
        else
          button.fixed-authorInfo__follow-btn Follow
  footer
    .fixed-authorInfo__liked-container._flex-cs
      if .userId
        if .didLiked
          i.fas.fa-heart.fixed-authorInfo__liked-icon-true
        else
          i.far.fa-heart.fixed-authorInfo__liked-icon-false
      else
        i.far.fa-heart.fixed-authorInfo__liked-icon-deactivated
      span #{ getSliceLen .story.LikedUserIDs }
    .fixed-authorInfo__comment-container._flex-cs
      i.far.fa-comment.fixed-authorInfo__comment-icon
      span #{ getSliceLen .story.CommentIDs }
    .fixed-authorInfo__bookmark-container._flex-cs
      if .userId
        if .bookmarked
          i.fas.fa-bookmark.fixed-authorInfo__bookmark-icon-true
        else
          i.far.fa-bookmark.fixed-authorInfo__bookmark-icon-false
      else 
        i.fa-bookamrk.far.fixed-authorInfo__bookmark-icon-deactivated

include views/partials/drawer.comment.pug
//- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>