doctype html
html
  head
    link(rel="icon", href="/image/steak.svg") 
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css",
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V",
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap"
    )
    link(rel="stylesheet", href="/static/styles.css")
    title Medium-rare
  body._flex-c-cs
    #filter._none
    #filter-black
    unless .userId
      include views/partials/modal.signin.pug
      include views/partials/modal.signup.pug
    include views/partials/header.pug
    main._mt-5._max-w-78._flex-c-cs
      | {{ embed }}
    script(src="/static/main.js")
